@{
    ViewData["Title"] = "Créditos";
}

<style>
    .menuCreditos{
        position: relative;
        top: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
<div class="menuCreditos">
    <img src="\img\creditos.gif" width="800px">
</div>
